
/* Your CSS Code here. */
body{
	background: #f7f7f7;
	display:flex;
	justify-content:center;
	padding:40px;
}
form{
	background:#fff;
	padding:25px;
	width:350px;
	border-radius:10px;
	box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

h2{
	text-align:center;
	margin-bottom:20px;
	color:#333;	
}

label{
	font-weight:bold;
	display:block;
	margin-top:15px;
}

input [type="text"],
select{
	width:100%
	padding:10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
select[multiple] {
            height: 100px;
        }

        .checkbox-group {
            margin-top: 10px;
        }

        input[type="checkbox"] {
            margin-right: 8px;
        }

        input[type="submit"] {
            width: 100%;
            margin-top: 20px;
            padding: 12px;
            background: #0077ff;
            border: none;
            border-radius: 6px;
            color: white;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
        }

        input[type="submit"]:hover {
            background: #005fcc;
        }